.pycache
bib_files/biblatex-examples-edited.bib
bib_files/biblatex-examples-generated.bib
bib_files/bib-examples-grouped.bib
bib_files/newfile.bib
/.idea
/.vs
my_tests.py
__pycache__
tempCodeRunnerFile.py
sandbox.py
permissionstest.bib
/bib_files/articles-examples.bib
/bib_files/merge-result.bib
/bib_files/tagged-examples.bib
/utils/article+collection-examples.bib
/utils/extended-examples.bib
/bib_files/bibtex-collection/
/bib_files/extended-examples.bib
/bib_files/article+collection-examples.bib
/new-generated-temporary-test-file.bib
config.json
output.bib
bib_files/bibtests.bib
bib_files/merge_test_a.bib
bib_files/bibtests.bib
bib_files/merge_test_b.bib
bib_files/merge_test2_a.bib
bib_files/merge_test2_b.bib
bib_files/examples_vadim/
history
