.pycache
/bib_files
/.idea
/.vs
my_tests.py
__pycache__
tempCodeRunnerFile.py
sandbox.py
permissionstest.bib
/utils/article+collection-examples.bib
/utils/extended-examples.bib
config.json
tags.json
/new-generated-temporary-test-file.bib
config.json
output.bib
history
test_script.py
scripting.yaml
scripting.py
test_tree.py
jsons/tag_colors.json
