.pycache
bib_files/biblatex-examples-edited.bib
bib_files/biblatex-examples-generated.bib
bib_files/bib-examples-grouped.bib
bib_files/newfile.bib
/.idea
/.vs
my_tests.py
__pycache__
tempCodeRunnerFile.py
sandbox.py
permissionstest.bib
/bib_files/articles-examples.bib
/bib_files/merge-result.bib
/bib_files/tagged-examples.bib
/utils/article+collection-examples.bib
/utils/extended-examples.bib
/bib_files/bibtex-collection/
